.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin: 0 auto;
  justify-content: space-between;
}

.flex-container > div {
  margin-bottom: 5px;
}
